.nav__header {
    height: 70px;
    background-color: #DBF8DE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* column-gap: 3rem; */
}

.logo {
    height: 45px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 8px;
}

.menu {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;        
}

.user__logged {
    display: flex;
    align-items: center;
    gap:0.3rem;
    font-weight: 500;
    cursor: pointer;

    &.active {
        background-color: rgba(0, 0, 0, 0.05);
        padding: 0.8rem 0.2rem;
    }
}

.avatar-header {
    width: 2rem;
}